---
extends: default

rules:
  truthy:
    level: warning
    allowed-values: ["false", "true", "on", "off"]
  document-start:
    level: warning 
  line-length:
    max: 140
    level: warning
  document-start:
    present: false
