pandas
numpy
matplotlib
firebase-admin
fhir.resources
# Documentation links:
# pandas: https://pypi.org/project/pandas/
# numpy: https://numpy.org/doc/stable/user/install.html
# matplotlib: https://pypi.org/project/matplotlib/
# firebase_admin: https://firebase.google.com/docs/admin/setup
# fhir.resources: https://pypi.org/project/fhir.resources/
